<mat-toolbar color="primary">
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon ></button>
    <span>Cerebros</span>
    &nbsp;  &nbsp;  &nbsp;
    <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" >Create Feature</button> 
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5" aria-labelledby class="io" >Create Release</button>
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5" class="io">Create Sprint</button>
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5" class="io">Create</button>

    <button mat-icon-button class="some-icon1">
        <mat-icon aria-label="Example icon-button with a heart icon"  >notifications_active</mat-icon>
      </button>
      <button mat-icon-button class="some-icon">
        <mat-icon aria-label="Example icon-button with a heart icon" >person</mat-icon>
    </button>
</mat-toolbar>
