<mat-toolbar color="primary">
    <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon ></button>
    <span>Cerebros</span>
    &nbsp;  &nbsp;  &nbsp;
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5">Create Featue</button>
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5">Create Release</button>
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5">Create Sprint</button>
    <button mat-raised-button color="primary" style=color:rgb(194,192,189) class="mat-elevation-z5">Create</button>

    
</mat-toolbar>
