<br>
<mat-card class="io" fxLayoutAlign="start stretch"><h3>Active Sprints</h3></mat-card>
<br>

<mat-card>
<div class="kanban-wrapper" fxLayout="row" fxLayoutGap="5px" fxLayoutWrap="wrap">
    <div class="kanban-container" fxFlex="calc(33-34px)" *ngFor="let data of kanban" >
      <div class="kanban-header" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="type" fxLayoutAlign="start center" ><h5>{{data.header}}</h5></div><div class="typeleft" fxLayoutAlign="end none">
        {{data.data.length}}</div>
      </div>
      <div class="kanban-data-container" *ngFor="let taskData of data.data">
        <div>{{taskData.status}}</div>
        <div>{{taskData.id}}</div>
        <div>{{taskData.title}}</div>
      </div>
    </div>
  </div>
  </mat-card>
  
  

   
