<mat-progress-bar mode="buffer" color="default"></mat-progress-bar>

<br>
<mat-card class="io" fxLayoutAlign="start stretch"><h3>Create Release</h3></mat-card>
<br>

<div class="setform">

<mat-dialog-content class="mat-typography">
<form class="example-form" novalidate [formGroup]="createrelease">
    
    <!-- Applicationlist -->
    <mat-form-field class="example-full-width">
        <mat-select placeholder="Application" [(ngModel)]="selectedValues" formControlName="application1" required>
           <mat-option *ngFor="let application1 of applications" [value]="application1.value">
             {{application1.viewValue}}
            </mat-option>
           </mat-select>
     </mat-form-field><br>

    <mat-form-field class="example-full-width" >
        <input matInput placeholder="Release Name" formControlName="rname" required>
        <mat-error *ngIf="createrelease.controls.rname.hasError('required')">Release name required</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width1" >
        <input matInput placeholder="Release Version" formControlName="rversion">
    </mat-form-field>

   
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Planned Release date" formControlName="planneddate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width1">
          <input matInput [matDatepicker]="picker1" placeholder="Actual Release date" formControlName="actualdate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>


         <!-- description -->
         <mat-form-field class="example-full-width2">
            <textarea matInput placeholder="Description" id="description"  formControlName="description" required></textarea>
            <mat-error *ngIf="createrelease.controls.description.hasError('required')">Decription required</mat-error>
          </mat-form-field>
      
<!-- table -->

        <mat-form-field class="example-full-width2">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
           
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>  Sprint Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Sprint Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Total Story Points </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> End Date </th>
              <td mat-cell *matCellDef="let element">{{element.symbol}}  </td>
            </ng-container>
          
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
          
          
   <!-- table ends -->

  
 <br>

  <mat-dialog-actions class="buttons">
      <button mat-flat-button color="warn" [routerLink]="['/']" >Cancel</button>&nbsp;
      <button  mat-raised-button color="primary" (click)="onSubmit()">Create Release</button>
  </mat-dialog-actions>
</form>

<br>

</mat-dialog-content>


</div>


