<!-- <h1 mat-dialog-title>Create Feature</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->




<mat-toolbar color="primary"><mat-toolbar-row>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon">speaker_notes</mat-icon>&nbsp;
  <span>Create Feature</span>
</mat-toolbar-row></mat-toolbar><br><br>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Feature Name">
    </mat-form-field>
   &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <mat-form-field class="example-full-width1">
    <mat-select placeholder="Application" [(ngModel)]="selectedValue" name="feature">
      <mat-option *ngFor="let feature of features" [value]="feature.value">
        {{feature.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br><br>
  <mat-form-field class="example-full-width2">
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>
  <br><br>
  <div class="container">Attachment
    <button mat-button color="warn" (click)="onClick()">
      <mat-icon>file_upload</mat-icon>
      {{text}}
    </button>
    <br/>
    <ul>
      <li *ngFor="let file of files" [@fadeInOut]="file.state">
        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
        <span id="file-label">
          {{file.data.name}}
          <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
            <mat-icon>refresh</mat-icon>
          </a>
          <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
            <mat-icon>cancel</mat-icon>
          </a>
        </span>
      </li>
    </ul>
    <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" style="display:none;" />
    
  </div>
</form>
 <br><br>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>&nbsp;
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Submit</button>

</mat-dialog-actions>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->