<mat-toolbar color="primary">
 
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Feature</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog1()">Create Release</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Sprint</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Story</button> &nbsp;
        
        <button mat-icon-button class="some-icon1">
            <mat-icon aria-label="Example icon-button with a heart icon"  >notifications_active</mat-icon>
        </button>
         
        <button mat-icon-button class="some-icon">
            <mat-icon aria-label="Example icon-button with a heart icon" >person</mat-icon>
        </button>
      
</mat-toolbar>