<mat-toolbar color="primary">
        <!-- <div class="md-toolbar-tools">
                <div layout="row">
                    <i class="fa fa-users fa-15x" flex></i>
                    <h1 class="mat-title" style="color:white">Org Chart</h1>
                </div>
                <span flex></span> -->
<!--  
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Feature</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog1()">Create Release</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Sprint</button> &nbsp;
        <button mat-raised-button mat-stroked-button color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" aria-labelledby class="io" (click)="openDialog()">Create Story</button> &nbsp;
         -->
         <!-- <mat-input #myInput placeholder="Item name..." [(ngModel)]="name" (input)="filterItem(myInput.value)"><mat-icon>search</mat-icon></mat-input> -->
 
         <!-- <mat-icon matSuffix>search</mat-icon>
         
        <button mat-icon-button class="some-icon1">
            <mat-icon aria-label="Example icon-button with a heart icon"  >notifications_active</mat-icon>
        </button>
         
        <button mat-icon-button class="some-icon">
            <mat-icon aria-label="Example icon-button with a heart icon" >person</mat-icon>
        </button>  -->
        <mat-toolbar-row>
                <span fxFlex> Third Line</span>
                <!-- <span class="example-spacer"></span>
                <mat-icon class="example-icon">favorite</mat-icon>
                <mat-icon class="example-icon">delete</mat-icon> -->
        </mat-toolbar-row>
   
</mat-toolbar>