<mat-sidenav-container class="SMmenu-container">
    <mat-sidenav #sidenav class="SMmenu-sidenav mat-elevation-z20" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
           
<!-- <mat-sidenav-container class="SMmenu-container">
    <mat-sidenav #sidenav class="SMmenu-sidenav mat-elevation-z20" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'"  style="background-color:wheat"> -->
      <mat-toolbar color="primary">Cerebro</mat-toolbar>

            <mat-accordion>
               <mat-expansion-panel>
                   <mat-expansion-panel-header>
                   
                         <span class="header-name"> &nbsp;Agile Tool
                         </span> 
                   </mat-expansion-panel-header>
                
                      <button mat-raised-button aria-tooltip="Button" color="primary" style=color:rgb(245,245,245) class="mat-elevation-z3" class="width-style"  [routerLink]="['/cerebro']">
                                  WARP
                      </button><br>                                    
                        
                      </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                          (closed)="panelOpenState = false">
                      </mat-expansion-panel>
            </mat-accordion>
         
            <mat-list>
                <mat-toolbar>  
                     <mat-toolbar-row  class="siderow-size" [routerLink]="['/all-tickets']">
                      <i class="material-icons">
                        done_all
                        </i>&nbsp; All Tickets
                     </mat-toolbar-row>

                     <mat-toolbar-row (click)="toggleMenu()"class="siderow-size" [routerLink]="['/my-tickets']">
                        <i class="material-icons">
                          settings
                          </i>&nbsp; View My Queue
                       </mat-toolbar-row>
                     
                     <mat-toolbar-row  class="siderow-size" [routerLink]="['/create-cerebro-tickets']">
                      <i class="material-icons">
                        note_add
                        </i> &nbsp;Create Tickets
                     </mat-toolbar-row>

                     <mat-toolbar-row  class="siderow-size" [routerLink]="['/create-issue']">
                        <i class="material-icons">
                          note_add
                          </i> &nbsp;Create Issues
                       </mat-toolbar-row>

                     <mat-toolbar-row  class="siderow-size" [routerLink]="['/view-issues']">
                      <i class="material-icons">
                        error
                        </i> &nbsp;View / Manage Issues
                     </mat-toolbar-row>
      
                     <mat-toolbar-row (click)="toggleMenu()"class="siderow-size" [routerLink]="['/view-vendor-vpn']">
                      <i class="material-icons">
                        record_voice_over
                        </i>&nbsp; View Vendor VPN
                     </mat-toolbar-row> 
                </mat-toolbar>
            </mat-list>
  
        </mat-sidenav>

        <div class="SMmenu-container-content">
                <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
                    <div class="wrapper"> 
                <router-outlet></router-outlet> 
           </div>
        </div>
    </mat-sidenav-container> 


    