
$iconWidth: 56px;

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.matcard{
  padding: 20px;
}
.setform{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px;
  border-color: blue;
}

.example-full-width25 {
  width: 24%;
  padding-left: 1%;
  
}


.example-full-width {
  width: 40%;
  padding-left: 1%
}
.example-full-width1 {
  width: 40%;
  padding-left: 13%
}
.example-full-width2 {
  width: 99%;
  line-height: 100%;
  padding-left: 1%;
}

p {
  font-family: Lato;
}
.buttons{
  padding-left: 350px;
}
.container {
  margin-top: 10px;
}
.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 10px;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}
.io{
  padding-left: 10px;
}
.some-icon{
  float: left;
  margin-left: 5px;
}
.some-icon1{
  float: left;
  margin-left: 320px;
}

.tablelayout{
  width:96%;
  padding-left: 2%;
}
.backlogsdialog{
  
}

.headercell{
  height: 30px;
  background-color: rgb(39, 40, 66);
  color: azure
}
.progress1{
  width:40%;
  background-color:rgb(172, 0, 0);
}

.backlog-filter{
  width:12%;
  padding-left: 2%;
}

/* active tab */

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:Blue;
  font-size: larger;
  font-weight: bolder;
    }
  
  /* ink bar */
  ::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#1F89CE) !important;
  }

  .backlog-filter{
    width:12%;
    padding-left: 2%;
}
.tablelayout{
    width:96%;
    padding-left: 2%;
}
.backlogsdialog{
    
}
td, th {
  width: 10%;
}
.headercell{
    height: 30px;
    background-color: rgb(39, 40, 66);
    color: azure
}

table {
  width: 100%;
  
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  color:Black;
  font-size: larger;
  
    }