
<mat-tab-group backgroundColor="none" mat-stretch-tabs>
  <mat-tab label="Feature Details" class="container" >
      
      <mat-card  style="margin:20px;" class="mat-elevation-z5" >            
          <mat-toolbar color="primary">
              <mat-toolbar-row>
                        <span class="example-spacer"></span>
                        <mat-icon class="example-icon">speaker_notes</mat-icon>&nbsp;&nbsp;
                        <span>Feature Details</span>
              </mat-toolbar-row>
            </mat-toolbar>
            <br>
    
            <div class="setform" [hidden]="submitted">
              <mat-dialog-content class="mat-typography">
                <form class="example-form" (ngSubmit)="onSubmit()">
                            <!-- feature name -->
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Feature Name" id="fname"  name="fname" reuired>
                              
                            </mat-form-field>
              
                            <!-- select -->
                            <mat-form-field class="example-full-width1">
                              <mat-select placeholder="Application" name="feature" required>
                                <mat-option *ngFor="let feature of features" [value]="feature.value">
                                {{feature.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <br><br>
            
            
                            <!-- description -->
                            <mat-form-field class="example-full-width2">
                              <textarea matInput placeholder="Description" id="description"  name="description"></textarea>
                            </mat-form-field>
                          
                             <br><br>
              
                            
              
                            <br><br>
                            <!-- buttons -->
                          <mat-dialog-actions class="buttons">
                              <button mat-flat-button color="warn" [routerLink]="['/']" >Cancel</button>&nbsp;
                              <button type="submit" mat-raised-button color="primary"  >Submit</button>
                          </mat-dialog-actions>
                    </form>
                  </mat-dialog-content>
                </div>
  
  
    </mat-card>

  </mat-tab>
  
  <mat-tab label="Attachment">
      
        <mat-card  style="margin:20px;" class="mat-elevation-z5" >
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                          <span class="example-spacer"></span>
                          <mat-icon class="example-icon">speaker_notes</mat-icon>&nbsp;&nbsp;
                          <span>Attachments</span>
    
                          
                </mat-toolbar-row>
              </mat-toolbar>
              <br>
        <div class="setform" [hidden]="submitted">
          <mat-dialog-content class="mat-typography">
            <form class="example-form" (ngSubmit)="onSubmit()">
        <div class="container">Attachment
          <button mat-button color="warn" (click)="onClick()">
              <mat-icon>file_upload</mat-icon>
              {{text}}
          </button>
      <br/>
      <ul>
        <li *ngFor="let file of files" [@fadeInOut]="file.state">
          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
           <span id="file-label">
            {{file.data.name}}
              <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
                <mat-icon>refresh</mat-icon>
              </a>
              <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
                <mat-icon>cancel</mat-icon>
              </a>
            </span>
          </li>
       </ul>
  
      <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" style="display:none;" />
      
    </div>
            </form>
          </mat-dialog-content>
        </div>
        <br><br>

        <mat-form-field class="backlog-filter">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Quick Search">
        </mat-form-field>
        
        <mat-icon>search</mat-icon>
    
        
        <div class="mat-elevation-z8" class="tablelayout">
                <table mat-table [dataSource]="dataSource" matSort>
    
                   
                   
    
                  <!-- Log -->
                    <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="headercell"> Attachment  </th>
                    <td mat-cell *matCellDef="let row" > {{row.file}} </td>
                    </ng-container>
    
                  <!-- Log Type -->
                    <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="headercell"> User </th>
                    <td mat-cell *matCellDef="let row"> {{row.user}} </td>
                    </ng-container>
                    
                    
    
                  <!-- Created Date -->
                     <ng-container matColumnDef="createdDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="headercell"> Created Date</th>
                      <td mat-cell *matCellDef="let row"> 
                        {{row.createdDate}} </td>
                      </ng-container>

                     
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator>
        </div>
        </mat-card>

    <br><br>
  </mat-tab>
 
    
  
    
</mat-tab-group>

  




