.io{
  background-color: rgb(12, 12, 12);
  color:white;
  width:21%;
  height:40px;
  padding-top: 9px;  
}

  h4{
      padding-left: 25px;
  }
  
  .Sprints{
    padding-left: 2px;
  }
  
  .progress{
      
      height: 10px;
      width: 95%;
      padding-left:28px;
  }

  .progress1{
      
    height: 10px;
    width: 90%;
    
}
  mat-form-field{
      padding: 2%;
      padding-top: 1%;
      width: 25%;
  }

  .dropdownlabel{
    padding-left: 8.5%;
  }

  .tables {
    width: 90%;
    padding-left:48px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .headercell{
    height: 50px;
    background-color: rgb(39, 40, 66);
    color: azure;
    margin: 10%;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.hearderCell{
  height: 30px;
  background-color: rgb(39, 40, 66);
  color: azure;
  font-size: 100%; 
}

.tablelayout{
  width:98%;
  padding-left: 2%;
}

table{
  width: 100%;
}

td, th {
  width: 13%;
}

tr{
  padding-left: 40%;
}

.updatebutton{
  margin-left: 30%;
}

