 <mat-sidenav-container class="SMmenu-container">
    <mat-sidenav #sidenav class="SMmenu-sidenav mat-elevation-z20" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
           
<!-- <mat-sidenav-container class="SMmenu-container">
    <mat-sidenav #sidenav class="SMmenu-sidenav mat-elevation-z20" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'"  style="background-color:wheat"> -->
      <mat-toolbar color="primary">Cerebro</mat-toolbar>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-icon >create_new_folder</mat-icon>
               <span class="header-name">  Create
                  </span> 
                </mat-expansion-panel-header>
                
    <button mat-raised-button aria-tooltip="Button" color="primary" style=color:rgb(245,245,245) class="mat-elevation-z3" class="width-style">
                 Create Feature
    </button><br>

    <button mat-raised-button aria-tooltip="Button" color="primary" style=color:rgb(245,245,245) class="mat-elevation-z3" class="width-style">
                 Create UserStory
    </button><br>

    <button mat-raised-button aria-tooltip="Button " color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" class="width-style">
                 Create Sprint
    </button><br>

    <button mat-raised-button #tooltip="matTooltip" matTooltip="create release" matTooltipPosition="right"
    aria-tooltip="Button " color="primary" style=color:rgb(245,245,245) class="mat-elevation-z5" class="width-style">
                 Create Release
    </button><br>
                                        
                        
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
              </mat-expansion-panel>
            </mat-accordion>
            

            <mat-list>
                <mat-toolbar>  
    <mat-toolbar-row (click)="toggleMenu()" class="siderow-size">
        <mat-icon>chrome_reader_mode</mat-icon>&nbsp; Backlogs Items
    </mat-toolbar-row>

                    
  <mat-toolbar-row (click)="toggleMenu()" class="siderow-size">
      <mat-icon>transfer_within_a_station</mat-icon> &nbsp;Active Sprint
    </mat-toolbar-row>
  
      <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
      <mat-icon>playlist_add_check</mat-icon> &nbsp; Feature
    </mat-toolbar-row>
  
      <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
      <mat-icon>gradient</mat-icon>&nbsp; Release
    </mat-toolbar-row>

    <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
        <mat-icon>graphic_eq</mat-icon>&nbsp; Sprint Burndown
      </mat-toolbar-row>

      <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
          <mat-icon>notes</mat-icon>&nbsp; Work Logs
        </mat-toolbar-row>

        <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
            <mat-icon>chrome_reader_mode</mat-icon>&nbsp; Log History
          </mat-toolbar-row>
          <mat-toolbar-row (click)="toggleMenu()"class="siderow-size">
              <mat-icon>gavel</mat-icon>&nbsp; Issues
            </mat-toolbar-row>
                  </mat-toolbar>
                    <mat-list-item> Salt </mat-list-item>
                 
                   </mat-list>
            
        </mat-sidenav>

        <div class="SMmenu-container-content">
                <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
                     
               <!-- <app-feature-toolbar></app-feature-toolbar> -->
                <router-outlet></router-outlet> 
           
        </div>
    </mat-sidenav-container> 


    